.App {
  height: 100vh;
  text-align: center;
  background-image: url('https://wallpaperaccess.com/full/519390.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #282c34;
  font-family: 'Lobster', cursive;
}
h1 {
  font-family: 'Lobster', cursive;
  color:#ffffff;
  font-size: 1.9em;
  font-weight: 1000;
  line-height: 1;
  margin: 10px;
}
h3 {
  
  font-family: 'Lobster', cursive;
  text-align: right;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 100;
  margin-right: 17px;
}

h3>span{
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
  font-weight: 1000;
  color: #0f2249;
  text-shadow: 2.5px 2px 5px #ffffff;
}

/* Header */


header {
  width: 100vw;
  display: flex;
  justify-content: space-around; 
}



header > section{
  margin: 20px 0 1px 0;
  width: 100vw;
  max-width: 710px;
  height: 7vh;
  max-height: 350px;
  background-color: #0f2249a1;
  
  
}
#headGrid{
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-columns: 1fr;  
}

/* NavBar */
.nav{
  display: flex; 
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items:center ;
}
.box-content{
  margin-right: 5px;
  min-width: 15%;
  display: flex; 
  justify-content:flex-end;
  align-items:center ;
}
.navButton{
margin: 5px;
}

/* Affirmation list */

main {
  width: 100vw;
  display: flex;
  justify-content: space-around;  
}

  main > section{
    width: 100vw;
    max-width: 710px;
    height: 100vh;
    max-height: 630px;
    border-radius: 8px;
    
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    background:#ffffff57;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    overflow-y: scroll;
    
  }
 


     /* Affirmation Cards  */

     #login-container {
      height: 175px;
      width: 650px;
      padding: 20px;
      border-radius: 20px 8px 8px 20px;
      background: #fffffb2c; ;
      position: relative;
      box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
      margin: 15px;
     }


      .profile-img {
        border-radius: 50%;
        position: absolute;
        bottom: -10px;
        right: -10px;
        
      }
      .profile-img>img{
        height: 72px;
        width: 72px;
        border-radius: 50%;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
      }

      h5 {
        font-family: 'Great Vibes', cursive;
        text-align: right;
        margin-top: 20px ;
        color: #ffffff;;
      }
      
      .description{
        font-family: 'Open Sans', sans-serif;
        text-align:left;
        margin-top: 3px;
        color: #aaeeb3;
        font-weight: bolder;
      }
      .cardFooter {
        display: flex;
        justify-content: space-between;
       
        background: #0f2249c2;;
        color: white;
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 30px;
        padding: 0 20px;
        margin-left: -20px;
        border-bottom-left-radius: 5px;
        
        }


/* Footer */
footer {
  width: 100vw;
  display: flex;
  justify-content: space-around; 
  margin-right: 5px;
}
footer > section{
  margin: 20px 0 1px 0;
  width: 100vw;
  max-width: 710px;
  height: 7vh;
  max-height: 350px;
  text-align:left;
  
}




/* display: inline-grid;  for two blocks floating next to each-other*/
/* grid-template-columns: repeat(3, 1fr); 
This creates a function that devides the area in to
  3 colum each of 1 fraction of it 
 if we use repeat(3, minmax(150px, 1fr))
  it would keep our boxes at a min weight of 150px
  and a max of 1fr so no matter how big the 
  screen gets will always be 1/3 of the container
 /* grid-template-columns: 1fr 2fr 1fr;
  This makes the first box and last use on fraction 
  and the middle one use 2fr*/
/* With the grid auto-rows we can create as many 1fr rows as needed
 ca use minmax(150px, 1fr) to set min size is 150px and max would be 1fr*/
/* grid-template-rows: repeat(2, 1fr);
    This would create 2 rows of 1 fraction each  */

   
  

   
  
  